
<div class="header__cart">
    <ul>
        <li><a href="@Url.Action("GioHang","GioHang")"><i class="fa fa-shopping-bag"></i> <span>@ViewBag.TongSoLuong</span></a></li>
    </ul>
    <div class="header__cart__price">Tổng tiền <span>@ViewBag.TongTien vnđ</span></div>
</div>

